#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#main-navbar ul li {
  position: relative;
  float: left;
}

#main-navbar ul {
  list-style-type: none;
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
  text-decoration: none;
}

#navbar-container ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
}

#navbar-container ul li a:hover {
  background-color: #000;
  text-decoration: underline overline;
}


#navbar-container {
  width: 100%;
  position: relative;

  left: 50%;
  text-align: center;
}

#sidebar-container ul li {
  list-style-type: none;
}

#sidebar {
  background-color: red;
  height: 100%;
  position: fixed;
  width: 20%;
  right: 0;
}

#sidebar-container ul li a:hover {
  background-color: #000;
}

#sidebar-container ul li a {
  display: block;
  padding: 15px 0;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}