#sidebar{
  background-color: red;
  height: 100%;
  text-align: center;
  position: fixed;
  width: 10%;
  right: 0;
}

  #sidebar-container ul li a:hover {
    background-color: #000;
  }

 #sidebar-container ul li a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    color: #fff;
    text-align: center;  
  }