
#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#sidebar{
  background-color: red;
  height: 100%;
  position: fixed;
  width: 20%;
  right: 0%;
}

  #sidebar-container ul li a:hover {
    background-color: #000;
  }

 #sidebar-container ul li a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    color: #fff;
    text-align: center;  
  }

  #sidebar ul {
  list-style-type: none;
  padding: 0;
}

